#!/bin/bash

export BLOG_BUILD_NAME='temp'
export BLOG_DB_PASSWORD='password'
export BLOG_DB_USERNAME='username'
export BLOG_DB_HOSTNAME='hostname'
export BLOG_DB_DATABASE='database'

export BLOG_UI_POSTW_URL='http://base-url/'
export BLOG_UI_POST_URL='http://base-url'

